html{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-size: 16px;
}

body{
 background-color: hsl(0, 100%, 74%);
 background-image: url(bg-intro-desktop.png);
}

main{
 width: 50%;
 margin: auto;
 padding-left: 70px;
 padding-right: 70px;
 justify-content: center;
 align-items: center;
 height: 100vh;
 display: flex;
 flex-direction: row;
}

.left{
 color: white;
}

/* .right{
 
} */

.right-top{
 border-radius: 5px;
 background-color: blue;
 padding: 10px;
 box-shadow: 0px 4px 0px 0px  hsl(246, 25%, 77%);
}

.right-bottom{
 border-radius: 10px;
 padding:20px;
 background-color: white;
}
button{
 background-color: hsl(154, 59%, 51%);
 border: none;
}

.right-bottom strong {
 color: hsl(0, 100%, 74%);
}

@media screen and (max-width: 800px) {
main {
  /* width: 50%; */
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
 }
}